<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="password.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div
      class="fixed inset-0 flex items-center justify-center z-50 md:px-1 px-3 h-full bg-black bg-opacity-50"
    >
      <div
        class="flex bg-white shadow-md rounded-lg md:max-w-7xl md:w-[50vw] md:max-h-[85vh] relative"
      >
        <div
          class="md:w-1/2 w-full p-8 md:overflow-y-auto max-h-[85vh] overflow-y-auto"
        >
          <button
            class="modal-close-btn absolute top-4 right-4 text-black rounded-full md:hidden"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18 17.94 6M18 18 6.06 6"
              ></path>
            </svg>
          </button>
          <div class="flex logo items-center justify-center md:p-3 p-3 w-full">
            <img
              src="../../assets/images/logo_gf_black.svg"
              alt="blog"
              class="md:mx-0 mx-auto max-w-full h-20"
            />
          </div>
          <div class="flex items-center justify-between">
            <div
              class="w-10 h-10 rounded-lg flex items-center justify-center cursor-pointer"
            >
              <button type="button" onclick="window.parent.postMessage({type:'openLoginModal'},'*')">
                <img
                  src="../../assets/images/arrow_left.png"
                  alt="image"
                  class="w-5 h-5"
                />
              </button>
            </div>
            <div class="flex-1 text-center">
              <h2 class="text-3xl font-bold md:py-8 py-10 text-black">
                Quên mật khẩu
              </h2>
            </div>
            <div class="w-10 h-10"></div>
          </div>
          <form
            class="password-form space-y-2 max-w-[600px] flex-shrink-0 w-full md:py-15"
            novalidate=""
          >
            <div class="space-y-2">
              <p class="text-center mb-4">
                Vui lòng nhập email bạn đã đăng ký. Chúng tôi sẽ gửi mã xác nhận
                tới email của bạn.
              </p>
              <label
                class="peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[14px] font-medium"
                for=":r2:-form-item"
                >Email<span class="text-red">*</span></label
              >
              <input
                class="text-input flex w-full rounded-md border border-input bg-transparent px-3 py-1 shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 h-[36px] placeholder:text-[14px] text-[14px]"
                id="emailLogin"
                placeholder="Vui lòng nhập email của Bạn"
                aria-describedby=":r2:-form-item-description"
                aria-invalid="false"
                type="email"
                value=""
                name="email"
              />
            </div>
            <button
                class="btn-pass inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 shadow hover:bg-cyan-background/90 h-[40px] px-4 py-2 !mt-8 w-full bg-buttom-primary text-white"
                type="submit"
                onclick="window.parent.postMessage({type:'openOtpModal'},'*')"
              >
                Nhận OTP
              </button>
          </form>
        </div>
        <div class="image-login w-1/2 relative rounded-lg hidden md:block">
          <img
            src="../../assets/images/new_login.png"
            alt="Car"
            class="object-cover w-full h-full rounded-r-lg"
          />
          <button
            class="absolute top-4 right-4 bg-white text-black rounded-full p-2 shadow-md"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18 17.94 6M18 18 6.06 6"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <script src="password.js"></script>
  </body>
</html>
