.bg-opacity-50 {
    color: #111827;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Mulish';
}

.logo img {
    width: 122px;
    height: 80px;
}

.text-3xl {
    margin: 0px 0px 8px;
}

.password-form {
    padding: 60px 0px;
}

.text-red {
    color: #fb5454;
}

.text-input {
    border-color: #dee2e6;
    box-shadow: #00000013 0px 2px 4px 0px;
}

.btn-pass {
    background-color: #00d289;
    box-shadow: #00000026 0px 8px 16px 0px;
    line-height: 21px;
}

.btn-pass:hover {
    background-color: #19d693;
}