@font-face {
    font-family: 'SVN-Poppins';
    src: url('../assets/fonts/SVN-Poppins-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Poppins';
    src: url('../assets/fonts/SVN-Poppins-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Poppins';
    src: url('../assets/fonts/SVN-Poppins-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Poppins';
    src: url('../assets/fonts/SVN-Poppins-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Poppins';
    src: url('../assets/fonts/SVN-Poppins-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Poppins';
    src: url('../assets/fonts/SVN-Poppins-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Poppins';
    src: url('../assets/fonts/SVN-Poppins-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Poppins';
    src: url('../assets/fonts/SVN-Poppins-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Poppins';
    src: url('../assets/fonts/SVN-Poppins-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}