body {
    font-family: 'Mulish';
}

.time-display {
    width: 140px;
    height: 44px;
    position: relative;
}

#time-dropdown {
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    transform: none !important;
    z-index: 50;
}

.time-container {
    gap: 0 !important;
}

.text-heading-secondary {
    color: #374151;
    font-size: 14px;
    line-height: 21px;
}

.text-brand-primary {
    color: #00d287;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}